OPENINFO_BASE_URL=https://openinfo.uz
OPENINFO_LIST_PATH=/ru?tab=stock&page=1&type=stocks
SCRAPE_USER_AGENT=Mozilla/5.0 (compatible; ConflictDetectorBot/0.1)
SCRAPE_DELAY_MS=800
SCRAPE_MAX_PAGES=5
DATA_FILE=./data/store.json
